aiohttp
aiosignal
alembic
annotated-types
anyio
appdirs
asgiref
asttokens
attrs
backoff
bcrypt
beautifulsoup4
bleach
bokeh
Brotli
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
contourpy
crewai
crewai-tools
cryptography
dataclasses-json
decorator
Deprecated
deprecation
distro
Django
django-cors-headers
django-softdelete
djangorestframework
dnspython
docarray
docstring-parser
docx2txt
email_validator
embedchain
executing
fastapi
fastapi-cli
filelock
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gptcache
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib_resources
iniconfig
instructor
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-path
jsonschema-specifications
kubernetes
lancedb
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lazy-object-proxy
linkify-it-py
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdit-py-plugins
mdurl
mmh3
monotonic
mpmath
multidict
mutagen
mypy-extensions
networkx
nodeenv
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnxruntime
openai
openapi-schema-validator
openapi-spec-validator
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
panel
param
parso
pathable
pexpect
pillow
pinecone-client
pluggy
posthog
prompt-toolkit
proto-plus
protobuf
psycopg2-binary
ptyprocess
pulsar-client
pure-eval
py
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pydantic
pydantic_core
PyGithub
Pygments
PyJWT
pylance
PyNaCl
pyparsing
pypdf
pyproject_hooks
pyright
pysbd
PySocks
pytest
python-dateutil
python-dotenv
python-multipart
pytube
pytz
pyviz_comms
PyYAML
ratelimiter
referencing
regex
requests
requests-oauthlib
retry
rfc3339-validator
rich
rpds-py
rsa
safetensors
schema
scikit-learn
scipy
selenium
semver
sentence-transformers
setuptools
shapely
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-requests
typing-inspect
typing_extensions
tzdata
uc-micro-py
ujson
uritemplate
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webencodings
websocket-client
websockets
wheel
wikipedia
wrapt
wsproto
xyzservices
yarl
youtube-transcript-api
yt-dlp
zipp
