scrapy
SQLAlchemy==1.4.51
apache-airflow-providers-slack==
psycopg2-binary
instagrapi
Pillow
kafka-python3
kafka-python
pandas
django==4.2.9
djangorestframework==3.14.0
django-celery-beat
django-softdelete
django-cors-headers
celery
selenium
redis
numpy
pytz
psycopg2-binary
pyyaml
Jinja2
pydantic==1.10.9
instagrapi==1.19.1
webdriver_manager
scrapeops-scrapy
scrapy-djangoitem