{% extends 'prompt/base.html' %}

{% block title %}Index - Django CRUD{% endblock %}

{% block content %}
<h1>Detail</h1>
<ul>
        <li>
            {{ prompt.name }}
            {{ prompt.data }}
            {{ prompt.text_data }}
            {{ query_info }}
            problems: {{ problems }}
            solutions: {{ solutions }}
            <a href="{% url 'update' prompt.id %}">Update</a>
            <a href="{% url 'delete' prompt.id %}">Delete</a>
        </li>
    
</ul>
<a href="{% url 'add' %}">Add Prompt</a>
<a href="{% url 'index' %}">Back to Index</a>
{% endblock %}
