from airflow import DAG
from airflow.operators.http_operator import SimpleHttpOperator
from airflow.sensors.http_sensor import HttpSensor
from airflow.utils.dates import days_ago
from datetime import timedelta
import json


{% for dag_ in dag %}
dag = DAG(
    "{{ dag_.dag_id }}",
    schedule_interval="{{ dag_.schedule_interval }}",
    start_date=days_ago(1),
    catchup={{ dag_.catchup or False }},
)
{% endfor %}

{% for operator in operators %}
# Define the HTTP operator
http_task_{{ loop.index }} = SimpleHttpOperator(
    task_id="{{ operator.task_id }}",
    http_conn_id="{{ operator.http_conn_id }}",
    endpoint="{{ operator.endpoint }}",
    method="{{ operator.method }}",
    headers={{ operator.headers | tojson }},  # Assuming headers is a dictionary, convert it to JSON
    data=json.dumps({{ operator.data}}),
    log_response={{ operator.log_response }},
    dag=dag,
)

# Set up task dependencies
{% if loop.index > 1 %}
http_task_{{ loop.index - 1 }} >> http_task_{{ loop.index }}
{% endif %}

{% endfor %}
